@import "bootstrap/dist/css/bootstrap.css";

:root {
  --dark-blue: #374A57;
  --light-blue: #07B2D9;
  --grey: #929CA6;
  --green: #58A690;
  --white: #ffffff;
}


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  color: var(--dark-blue);
  /* Sets all text color*/
}

h1 {
  font-family: "Roboto", serif;
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-family: "Roboto", serif;
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 300;
}

.bg-color{
    background-color: white;
    border-radius: 1em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.profile,
.profile_about,
.profile_contact {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.profile-container{
  display: inline-flex;
  padding:2em;
  margin: 1em;
}

.profile-text_child{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.profile-photo {
  width: 250px;
  margin-right: 2.5em;
  height: auto;
  border-radius: 50%;
}

.work-grid{
  /* background-color: var(--green); */
  margin-top: 1.3em;
  padding-bottom: 1.3em;
}

.grid-card{
 box-shadow: 1px 1px 4px;
}

/* .nav-buffer {
  margin-top: 82px;
} */

.title_banner{
  background-color: var(--dark-blue);
  color: var(--white);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.about-description{
  margin-top: 2em;
  margin-bottom: 2em;
}

.about-github{
  margin-bottom: 2em;
}

.nav-footer{
  margin-bottom: 1em;
}

@media only screen and (max-width: 650px) {
  .profile-container {
    display: block;
  }
  .profile-photo{
    margin-bottom: 2.5em;
    margin-right: 0;
  }
  .profile-text_child{
    text-align: center;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
